<style>
th,td {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;

}

td, th {
border: 1px solid #ddd;
padding: 8px;
}

tr:nth-child(even){background-color: grey;}

tr:hover {background-color: blue;}

th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #4CAF50;
color: white;
}
</style>
<a href="../../insurance" >New Search</a><br />
<h1>Search Results ({{num}} items)</h1>
  <table>
      <thead>
          <tr>
              <th>STATE</th>
              <th>CARRIER</th>
              <th>PLANNAME</th>
              <th>YEAR</th>
              <th>METAL</th>
              <th>AREA</th>
              <th>PLANID</th>
          </tr>
      </thead>
      <tbody>

      {{#each results}}
      <tr>
          <td class="id">{{this.ST}}  </td>
          <td class="id">{{this.CARRIER}}</td>
          <td class="id">{{this.PLANNAME}}</td>
          <td class="id">{{this.YEAR }}</td>
          <td class="id">{{this.METAL }}</td>
          <td class="id"> {{this.AREA}}</td>
          <td class="id">'{{this.PLANID }}</td>
      </tr>
      {{/each}}
      </tbody>
  </table>
