<style>
th,td {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;

}

td, th {
border: 1px solid #ddd;
padding: 8px;
}

tr:nth-child(even){background-color: grey;}

tr:hover {background-color: blue;}

th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #4CAF50;
color: white;
}
</style>
<a href="../../insurance" >New Search</a><br />
<h1>Search Results ({{num}} items)</h1>
  <table>
      <thead>
          <tr>
              <th>STATE</th>
              <th>COUNTRY</th>
              <th>FIPS</th>
              <th>CARRIER</th>
              <th>ISSUER</th>
              <th>MARKET</th>
              <th>PLAN</th>
          </tr>
      </thead>
      <tbody>

      {{#each results}}
      <tr>
          <td class="id">{{this.state}}  </td>
          <td class="id">{{this.county_name}}</td>
          <td class="id">{{this.fips_code}}</td>
          <td class="id">{{this.carrier }}</td>
          <td class="id">{{this.issuer_id }}</td>
          <td class="id"> {{this.market}}</td>
          <td class="id">'{{this.plan_count }}</td>
      </tr>
      {{/each}}
      </tbody>
  </table>
